{% extends 'base.html' %}

{% block content %}
	<div class="resourceContent" style="padding-top:40px;">
		<h4> The Educator Lab </h4><br>
		<p> The Educator Lab was founded by instructors who realized that children who are not engaged in a classroom are children who are not learning; that rote memorization does not equate to education; and that most teachers have little time to develop resources that will engage, challenge and educate their students. </p>

		<p>
			We know that you are, like us, teachers who care passionately about the development of the children in your classroom. <a href="{{site_url}}browse">Browse</a> through our resources, <a href="{{site_url}}suggest">send</a> us comments, and feel free to <a href="{{site_url}}submit_resource">submit</a> your own ideas for future resources. 
		</p>
		<p>
			The need to educate our children beyond quadratic formulae and historical facts is rapidly developing into a movement. We hope that ultimately, the resources we provide on this site will help children to not just learn, but learn how to educate themselves in the future. 
		</p>
	</div>
{% endblock content %}

