{% extends 'base.html' %}

{% block script %}

<script type="text/javascript">
	
	{% if VoteExists %}
	$(document).ready(function () {
		$('#star').raty({
			score     : function() {
							return $(this).attr('data-score');
						},
			readOnly  : true,
			size      : 24,
			starHalf  : '/media/images/star-half-big.png',
			starOff   : '/media/images/star-off-big.png',
			starOn    : '/media/images/star-on-big.png'
		});
	});
	{% else %}
	$(document).ready(function () {
		$('#star').raty({
			score     : function() {
							return $(this).attr('data-score');
						},
			click	  : function(score, evt) {
							Dajaxice.mainlab.rateResource(Dajax.process,{'type':'a', 'id':'{{activity.id}}', 'rating':score});
						},
			size      : 24,
			starHalf  : '/media/images/star-half-big.png',
			starOff   : '/media/images/star-off-big.png',
			starOn    : '/media/images/star-on-big.png'
		});
	});
	{% endif %}
	
	function postComment(){
		comment = $('#commentBox').val();
		if(comment != ""){
			Dajaxice.mainlab.addComment(Dajax.process,{'type':'a', 'id':'{{activity.id}}', 'comment':comment})
		}
    }
</script>
{% endblock script %}

{% block title %}
{% if titleTag != "" %}
	<title>{{titleTag}}</title>
{% else %}
	<title> {{activity.title}} | {{chapter}} | Educator Lab </title>
{% endif %}
{% endblock title %}

{% block content %}

	<ul class="breadcrumb">
		<li><a href="{{site_url}}curriculum/i={{curID}}/">{{curriculum}}</a> <span class="divider">/</span></li>
		<li><a href="{{site_url}}grade/i={{graID}}/">Grade {{grade}}</a> <span class="divider">/</span></li>
		<li><a href="{{site_url}}subject/i={{subID}}/">{{subject}}</a> <span class="divider">/</span></li>
		<li><a href="{{site_url}}chapter/i={{chaID}}/">{{chapter}}</a> <span class="divider">/</span></li>
		<!-- <li class="active">{{activity.title}}</li> -->
		<li class="dropdown">
			<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
				{{activity.title}}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				{% for a in activities %}
					<li><a href="{{site_url}}activity/i={{a.id}}&c={{chaID}}/"> {{a.title}} </a></li>
				{% endfor %}
			</ul>
		</li>
	</ul>

	<div class="resourceContent">
		<h4>{{activity.title|safe}}</h4>
		<span id="star" data-score="{{starRate}}"></span><span id="numVotes" style="padding-left:7px;padding-top:6px;font-size:16px;">({{activity.rating.votes}})</span><br><br> 
		<h5>Goals:</h5>
		{{activity.goals|safe}} <br>
		<h5>Time Required:</h5>
		{{activity.time|safe}} <br>
		<h5>Materials Required:</h5>
		{{activity.materials|safe}} <br>
		{{activity.lesson|safe}} <br>
	
		<div class="authorDet">{% if activity.author != None %}Resource contributed by {{activity.author.name}}{% endif %}</div>
	
		<ul class="media-list" id="commentsList">
			<li class="media">
				<div class="media-body" id="noOfComments">
					{% if noOfComments == 1 %}
					<h4>{{noOfComments}} Comment:</h4>
					{% else %}
					<h4>{{noOfComments}} Comments:</h4>
					{% endif %}
				</div>
			</li>
			{% for c in comments %}
			<li class="media">
				<div class="media-body">
					<h5 class="media-heading">{{c.user.name}}</h5>
					{{c.comment}}
				</div>
			</li>
			{% endfor %}
		</ul>
		<ul class="media-list">
			<li class="media">
				<div class="media-body" style="position:relative;">
					{% if not request.user.is_authenticated %}
						<div class="text-center" style="padding-bottom:10px;">To post a comment please <a href="#" onClick="$('#loginModal').modal('show')">Log In</a> or <a href="#" onClick="$('#registerModal').modal('show')">Sign Up</a> for a free account.</div>
					{% else %}
							<textarea id="commentBox" style="height:60px;width:505px;margin-left:20px;"></textarea>
							<button class="btn" onClick="postComment();" style="position:absolute;top:0px;right:20px;">Post Comment</button>
					{% endif %}
					
				</div>
			</li>
		</ul>
	<br><br><br></div>

	{% if files %}
	<div class="sideBox">
		<h5>Student Handouts</h5>
			{% for f in files %}
				<a class='attachment' target='_blank' href='{{f.doc.url}}'>
					<!-- <img class='attImage' src='/media/images/{{f.extension}}.png'> -->
					<img class='attImageTall' src='/media/images/handout.png'>
					<div class='attText'>{{f.title}}</div>
				</a>
			{% endfor %}
	</div>
	{% endif %}
	

	{% if foldables %}
		<div class="sideBox"> 
			<h5>Foldables</h5>
			{% for fd in foldables %}
				<a class='attachment' target='_blank' href='{{fd.image.url}}'>
					<img class='attImageTall' src='/media/images/foldable.png'>
					<div class='attText'>{{fd.title}}</div>
				</a>
			{% endfor %}
		</div>
	{% endif %}



	{% if graphicOrgs %}
	 	<div class="sideBox">
                	<h5>Graphic Organizers</h5>
                	{% for g in graphicOrgs %}
                        	<a class='attachment' target='_blank' href='{{g.file.url}}'>
                                	<img class='attImageTall' src='/media/images/graphic_org.png'>
                                	<div class='attText'>{{g.title}}</div>
                        	</a>
	                {% endfor %}
        	</div>
	{% endif %}
	
	
{% endblock content %}
