{% extends 'base.html' %}

{% block title %}
<title> Browse Educator Resources for Indian Curricula | Educator Lab</title>
{% endblock title %}

{% block content %}

<div class="mainList" style="padding-top:30px;">
<div class="mainListHead">Select Curriculum</div>
<hr>
<div style="padding:0px 50px;"><table class="table">
{% for c in curricula %}
	<tr>
		<td style="border:none;"><a href="{{site_url}}curriculum/i={{c.id}}/" class="mainLink"> {{c.title}} </a></td>
	</tr>
{% endfor %}
</table></div>


<!-- <div class="text-center"><div id="mainList">
<div style="color:#ad1d28;padding-top:40px;font-size:large">Select Curriculum</div><br>
{% for c in curricula %}
	<a href="{{site_url}}curriculum/i={{c.id}}/" class="mainLink"> {{c.title}} </a> <br><br>
{% endfor %}
</div></div> -->

{% endblock content %}
