{% extends 'base.html' %}

{% block title %}
{% if titleTag != "" %}
	<title>{{titleTag}}</title>
{% else %}
	<title> Grade {{grade}} | {{curriculum}} | Educator Lab </title>
{% endif %}
{% endblock title %}

{% block content %}

<!-- <div id="breadCrumbs">
	<a href="{{site_url}}curriculum/i={{curID}}/" class="crumbLink">{{curriculum}}</a> >>
	<span class="crumbCurrent">Grade {{grade}}</span>
</div> -->

<ul class="breadcrumb">
  <li><a href="{{site_url}}curriculum/i={{curID}}/">{{curriculum}}</a> <span class="divider">/</span></li>
  <li class="active">Grade {{grade}}</li>
</ul>


<div class="container-fluid"><div class="row-fluid">
	<div class="span8 offset2">
		<div class="mainListHead">Select Subject in Grade {{grade}}</div>
		<hr>
		<div class="text-center">
		{% for s in subjects %}
			<a href="{{site_url}}subject/i={{s.id}}/" class="mainLink"> {{s.title}} </a><br><br>
		{% endfor %}
		</div>
	</div>
</div></div>
{% endblock content %}
