{% extends 'base.html' %}

{% block content %}

        <div class="resourceContent">
                <h4>{{graphOrg.title|safe}}</h4> <br>
                <h5>Instructions:</h5>
                {{graphOrg.instructions|safe}} <br>
                <h5>File:</h5>
                <a class='attachment' target='_blank' href='{{graphOrg.file.url}}'>
                        <img src='{{graphOrg.file.url}}'>
                        <div class='attText'>{{graphOrg.title}}</div>
                </a>


	{% if graphOrg.file %}
		<div class="sideBox">
			<h5> Files </h5>
				<a class='attachment' target='_blank' href='{{graphOrg.file.url}}'>Test</a>
		</div>
	{% endif %}


{% endblock content %}



