{% extends 'base.html' %}

{% block script %}
<script type="text/javascript">
    function assignActManager(aid, mid, sel){
		idSel = '#actMan' + aid;
		$(idSel).text($(sel).text())
		Dajaxice.mainlab.assignActManager(Dajax.process,{'aid':aid, 'mid':mid})
    }
	
	function assignProManager(pid, mid, sel){
		idSel = '#proMan' + pid;
		$(idSel).text($(sel).text())
		Dajaxice.mainlab.assignProManager(Dajax.process,{'pid':pid, 'mid':mid})
    }
</script>
{% endblock script %}

{% block content %}

<h3 style="padding-top:20px;padding-left:50px;">Manager Admin</h3>

<div style="padding:20px 50px;"> 
	<h4> Pending Activities </h4><br>
	<table class="table table-striped">
	<tr>
		<td> Title </td>
		<td> Parameters </td>
		<td> Time Submitted </td>
		<td> Contributed by </td>
		<td> Assigned to </td>
	</tr>
	{% for a in pendingActivities %}
	<tr>
		<td><a target="_blank" href="{{site_url}}activityEdit/i={{a.id}}/">{{a.title|truncatewords:6}}</a></td>
		<td>{{a.curricula}}, {{a.grades}}, {{a.subjects}}</td>
		<td>{{a.timeCreated}}</td>
		<td>{{a.author.name}}</td>
		<td>
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<span id="actMan{{a.id}}">{{a.manager.name}}</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					{% for m in managers %}
						<li class="dropText" onClick="assignActManager({{a.id}}, {{m.id}}, this)">{{m.name}}</li>
					{% endfor %}
				</ul>
			</div>
		</td>
	</tr>
	{% endfor %}
	</table>
	
	<h4> Pending Projects </h4><br>
	<table class="table table-striped">
	<tr>
		<td> Title </td>
		<td> Parameters </td>
		<td> Time Submitted </td>
		<td> Contributed by </td>
		<td> Assigned to </td>
	</tr>
	{% for p in pendingProjects %}
	<tr>
		<td><a target="_blank" href="{{site_url}}projectEdit/i={{p.id}}/">{{p.title|truncatewords:6}}</a></td>
		<td>{{p.curricula}}, {{p.grades}}, {{p.subjects}}</td>
		<td>{{p.timeCreated}}</td>
		<td>{{p.author.name}}</td>
		<td>
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<span id="proMan{{p.id}}">{{p.manager.name}}</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					{% for m in managers %}
						<li class="dropText" onClick="assignProManager({{p.id}}, {{m.id}}, this)">{{m.name}}</li>
					{% endfor %}
				</ul>
			</div>
		</td>
	</tr>
	{% endfor %}
	</table>
	
	<br><br>
	
	<h4> Published Activities </h4><br>
	<table class="table table-striped">
	<tr>
		<td> Title </td>
		<td> Parameters </td>
		<td> Time Submitted </td>
		<td> Contributed by </td>
		<td> Assigned to </td>
	</tr>
	{% for a in publishedActivities %}
	<tr>
		<td><a target="_blank" href="{{site_url}}projectEdit/i={{a.id}}/">{{a.title|truncatewords:6}}</a></td>
		<td>{{a.curricula}}, {{a.grades}}, {{a.subjects}}</td>
		<td>{{a.timeCreated}}</td>
		<td>{{a.author.name}}</td>
		<td>
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<span id="actMan{{a.id}}">{{a.manager.name}}</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					{% for m in managers %}
						<li class="dropText" onClick="assignActManager({{a.id}}, {{m.id}}, this)">{{m.name}}</li>
					{% endfor %}
				</ul>
			</div>
		</td>
	</tr>
	{% endfor %}
	</table>
	
	<h4> Published Projects </h4><br>
	<table class="table table-striped">
	<tr>
		<td> Title </td>
		<td> Parameters </td>
		<td> Time Submitted </td>
		<td> Contributed by </td>
		<td> Assigned to </td>
	</tr>
	{% for p in publishedProjects %}
	<tr>
		<td><a target="_blank" href="{{site_url}}projectEdit/i={{p.id}}/">{{p.title|truncatewords:6}}</a></td>
		<td>{{p.curricula}}, {{p.grades}}, {{p.subjects}}</td>
		<td>{{p.timeCreated}}</td>
		<td>{{p.author.name}}</td>
		<td>
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<span id="proMan{{p.id}}">{{p.manager.name}}</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					{% for m in managers %}
						<li class="dropText" onClick="assignProManager({{p.id}}, {{m.id}}, this)">{{m.name}}</li>
					{% endfor %}
				</ul>
			</div>
		</td>
	</tr>
	{% endfor %}
	</table>
</div>
{% endblock content %}
