{% extends 'base.html' %}
{% block script %}

<script type="text/javascript">
	
	{% if voteValue != None %}
	$(document).ready(function () {
		$('#star').raty({
			score     : function() {
							return $(this).attr('data-score');
						},
			readOnly  : true,
			size      : 24,
			starHalf  : '/media/images/star-half-big.png',
			starOff   : '/media/images/star-off-big.png',
			starOn    : '/media/images/star-on-big.png'
		});
		$('#starRead').raty({
			score     : function() {
							return $(this).attr('data-score');
						},
			readOnly  : true,
			size      : 24,
			starHalf  : '/media/images/star-half-big.png',
			starOff   : '/media/images/star-off-big.png',
			starOn    : '/media/images/star-on-big.png'
		});
	});
	{% else %}
	$(document).ready(function () {
		$('#star').raty({
			score     : function() {
							return $(this).attr('data-score');
						},
			click	  : function(score, evt) {
							Dajaxice.mainlab.rateResource(Dajax.process,{'type':'p', 'id':'{{project.id}}', 'rating':score});
						},
			size      : 24,
			starHalf  : '/media/images/star-half-big.png',
			starOff   : '/media/images/star-off-big.png',
			starOn    : '/media/images/star-on-big.png'
		});
		$('#starRead').raty({
			score     : function() {
							return $(this).attr('data-score');
						},
			readOnly  : true,
			size      : 24,
			starHalf  : '/media/images/star-half-big.png',
			starOff   : '/media/images/star-off-big.png',
			starOn    : '/media/images/star-on-big.png'
		});
	});
	{% endif %}
	
	function postComment(){
		comment = $('#commentBox').val();
		if(comment != ""){
			Dajaxice.mainlab.addComment(Dajax.process,{'type':'p', 'id':'{{project.id}}', 'comment':comment})
		}
    }
</script>
{% endblock script %}

{% block title %}
{% if titleTag != "" %}
	<title>{{titleTag}}</title>
{% else %}
	<title> {{project.title}} | {{chapter}} | Educator Lab </title>
{% endif %}
{% endblock title %}


{% block content %}

	<ul class="breadcrumb">
		<li><a href="{{site_url}}curriculum/i={{curID}}/">{{curriculum}}</a> <span class="divider">/</span></li>
		<li><a href="{{site_url}}grade/i={{graID}}/">Grade {{grade}}</a> <span class="divider">/</span></li>
		<li><a href="{{site_url}}subject/i={{subID}}/">{{subject}}</a> <span class="divider">/</span></li>
		<li><a href="{{site_url}}chapter/i={{chaID}}/">{{chapter}}</a> <span class="divider">/</span></li>
		<!-- <li class="active">{{project.title}}</li> -->
		<li class="dropdown">
			<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
				{{project.title}}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				{% for p in projects %}
					<li><a href="{{site_url}}project/i={{p.id}}&c={{chaID}}/"> {{p.title}} </a></li>
				{% endfor %}
			</ul>
		</li>
	</ul>

	<div class="resourceContent">
		<h4>{{project.title|safe}}</h4> <br>
		<span id="starRead" data-score="{{starRate}}"></span><span id="numVotes" style="padding-left:7px;padding-top:6px;font-size:16px;">({{project.rating.votes}})</span><br><br> 
		<h5>Goals:</h5>
		{{project.goals|safe}} <br>
		<h5>Time Required:</h5>
		{{project.time|safe}} <br>
		<h5>Materials Required:</h5>
		{{project.materials|safe}} <br>
		<h5>Instructions:</h5>
		{{project.instructions|safe}} <br>
		<h5>Grading Rubric:</h5>
		{{project.rubric|safe}} <br>
		
		<div class="authorDet">{% if project.author != None %}Resource contributed by {{project.author.name}}{% endif %}</div>
	
		<ul class="media-list" style="position:relative;margin-bottom:0px;">
			<li class="media">
				<div class="media-body">
					{% if voteValue == None %}
						<h4 style="float:left;">How do you rate this resource?</h4>
						<span id="star" data-score="{{voteValue}}" style="position:absolute;top:15px;left:250px;"></span><br>
					{% else %}
						<h4 style="float:left;">You rated this</h4> 
						<span id="star" data-score="{{voteValue}}" style="position:absolute;top:15px;left:130px;"></span><br>
					{% endif %}
				</div>
			</li>
		</ul>
	
		<ul class="media-list" id="commentsList">
			<li class="media">
				<div class="text-right" id="noOfComments">
					{% if noOfComments == 1 %}
					<h5>{{noOfComments}} Comment</h5>
					{% else %}
					<h5>{{noOfComments}} Comments</h5>
					{% endif %}
				</div>
			</li>
			{% for c in comments %}
			<li class="media">
				<div class="media-body">
					<h5 class="media-heading">{{c.user.name}}</h5>
					{{c.comment}}
				</div>
			</li>
			{% endfor %}
		</ul>
		<ul class="media-list">
			<li class="media">
				<div class="media-body" style="position:relative;">
					{% if not request.user.is_authenticated %}
						<div class="text-center" style="padding-bottom:10px;">To post a comment please <a href="#" onClick="$('#loginModal').modal('show')">Log In</a> or <a href="#" onClick="$('#registerModal').modal('show')">Sign Up</a> for a free account.</div>
					{% else %}
							<textarea id="commentBox" style="height:60px;width:505px;margin-left:20px;"></textarea>
							<button class="btn" onClick="postComment();" style="position:absolute;top:0px;right:20px;">Post Comment</button>
					{% endif %}
					
				</div>
			</li>
		</ul>
	<br><br><br></div>

	{% if files %}	
		<div class="sideBox">
			<h5>Student Handouts</h5>
			{% for f in files %}
				<a class='attachment' target='_blank' href='{{f.doc.url}}'>
					<!-- <img class='attImage' src='/media/images/{{f.extension}}.png'> -->
					<img class='attImageTall' src='/media/images/handout.png'>
					<div class='attText'>{{f.title}}</div>
				</a>
			{% endfor %}
		</div>
	{% endif %}
	

	{% if foldables %}
                <div class="sideBox">
                        <h5>Foldables</h5>
                        {% for fd in foldables %}
                                <a class='attachment' target='_blank' href='{{fd.image.url}}'>
                                        <img class='attImageTall' src='/media/images/foldable.png'>
                                        <div class='attText'>{{fd.title}}</div>
                                </a>
                        {% endfor %}
                </div>
        {% endif %}



        {% if graphicOrgs %}
                <div class="sideBox">
                        <h5>Graphic Organizers</h5>
                        {% for g in graphicOrgs %}
                                <a class='attachment' target='_blank' href='{{g.file.url}}'>
                                        <img class='attImageTall' src='/media/images/graphic_org.png'>
                                        <div class='attText'>{{g.title}}</div>
                                </a>
                        {% endfor %}
                </div>
        {% endif %}	

	
{% endblock content %}
