{% extends 'base.html' %}

{% block title %}
{% if titleTag != "" %}
	<title>{{titleTag}}</title>
{% else %}
	<title> {{subject}} | {{curriculum}} Grade {{grade}} | Educator Lab </title>
{% endif %}
{% endblock title %}


{% block content %}

<ul class="breadcrumb">
  <li><a href="{{site_url}}curriculum/i={{curID}}/">{{curriculum}}</a> <span class="divider">/</span></li>
  <li><a href="{{site_url}}grade/i={{graID}}/">Grade {{grade}}</a> <span class="divider">/</span></li>
  <li class="active">{{subject}}</li>
</ul>

<div class="container-fluid"><div class="row-fluid">
	<div class="span8 offset2">
		<div class="mainListHead">Select Chapter in {{subject}}</div>
		<hr>
		<div style="padding:0px 50px;"><table class="table">
		{% for c in chapters %}
			<tr>
				<td style="font-size: large;border:none;">{{c.number}}.</td>
				<td style="border:none;"><a href="{{site_url}}chapter/i={{c.id}}/" class="mainLink">{{c.title}} </a></td>
			</tr>
		{% endfor %}
		</table></div>
	</div>
</div></div>
{% endblock content %}


