{% extends 'base.html' %}


{% load dajaxice_templatetags %}

<head>

{% block script %}
<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>

<script type="text/javascript">
	function selectCurric(){
		selCurId = $('#id_curriculum option:selected').val();	
		$("#id_grade").attr('disabled', 'disabled');
                $("#id_subject").attr('disabled', 'disabled');
                $("#id_chapter").attr('disabled', 'disabled');
		if (selCurId){
			Dajaxice.mainlab.curricFind(Dajax.process, {'id' : selCurId});
   		}
	}

	function selectGrade(){
                selGradeId = $('#id_grade option:selected').val();   
                $("#id_subject").attr('disabled', 'disabled');
                $("#id_chapter").attr('disabled', 'disabled');
		if (selGradeId){
			Dajaxice.mainlab.gradeFind(Dajax.process, {'id' : selGradeId});
        	}
	}

	function selectSubject(){
                selChapId = $('#id_subject option:selected').val();   
                $("#id_chapter").attr('disabled', 'disabled');
		if (selChapId){
			Dajaxice.mainlab.subjectFind(Dajax.process, {'id' : selChapId});
        	}
	}
	
	function autoSave(){
		resourceType = $('#id_resourceType option:selected').val();
		title = $('#id_title').val();
		goals = tinyMCE.EditorManager.getInstanceById('id_goals').save();
		materials = tinyMCE.EditorManager.getInstanceById('id_materials').save();
		lesson = tinyMCE.EditorManager.getInstanceById('id_lesson').save();
		data = {'resourceType' : resourceType, 'title' : title, 'goals':goals, 'materials':materials, 'lesson':lesson};
		Dajaxice.mainlab.autoSave(Dajax.process, data);
		
		$('#id_save').html('Saved!');
		$('#id_save').addClass('disabled'); 
	}
	
	
</script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#id_grade").attr('disabled', 'disabled');
		$("#id_subject").attr('disabled', 'disabled');
		$("#id_chapter").attr('disabled', 'disabled');
	
		setTimeout(detectChange, 1500);	
		window.saveReg = setInterval(autoSave, 5000);
		
		$('#resTypeHelp').tooltip(); 	
	});

	function detectChange(){
		//all input elements 
		
		var inputEls = ['#id_curriculum', '#id_grade', '#id_subject', '#id_chapter', '#id_resourceType', '#id_title'];
		for (el=0; el<inputEls.length; el++){
			$(inputEls[el]).change(function(){
				$('#id_save').removeClass('disabled'); 
                        	$('#id_save').html('Save');
                        	clearInterval(saveReg);
			}); 
			$(inputEls[el]).blur(function(){
				window.saveReg = setInterval(autoSave, 5000);
			});
		}

	
		//all textareas 
		
		var textEls = ['id_goals','id_materials', 'id_lesson'];
		for (el=0; el<textEls.length; el++){
			$(tinyMCE.get(textEls[el]).getDoc()).contents().find('body').keypress(function(){
				$('#id_save').removeClass('disabled'); 
				$('#id_save').html('Save');
				clearInterval(saveReg); 
			});
			$(tinyMCE.get(textEls[el]).getDoc()).contents().find('body').blur(function(){
                        	window.saveReg = setInterval(autoSave, 5000);
                	});
		}
		
				
	}
	
	function addUpload(){
		$('#uploadBox').append('{{ submit_resource_form.attachment }}');
	}

</script>



{% endblock script %}

</head>

{% block content %}

<div class="container-fluid" style="margin-top:30px;"><div class="row-fluid">
    <div class="span8" style="padding-left:2%;padding-right:2%;">
	{% if "Thank" in message or "Your" in message %}
		<div class="alert alert-success" id="loginResult" style="margin-left:3%;margin-right:3%">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{message}}
		</div>
	{% elif "saved" in message %}
		<div class="alert alert-info" id="loginResult" style="margin-left:3%;margin-right:3%">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{message}}
		</div>
	{% else %}
		<div class="alert alert-error" id="loginResult" style="margin-left:3%;margin-right:3%">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{message}}
		</div>
	{% endif %}
        
	{% if submit_resource_form %}
		<form method="POST" action ="." id="submitResource" enctype="multipart/form-data" style="padding-left:15px;width:100%">
		{% csrf_token %}       
			<span style="color:#ad1d28">
				{{ submit_resource_form.non_field_errors }}
			</span>
		
			<div style="display:table; margin:0 auto;width:100%">
				<div class="formLineElement">
					<span style="color:#ad1d28">
						{{ submit_resource_form.curriculum.errors }}
					</span>
					<label for="id_curriculum"><b>Curriculum</b></label>
					{{ submit_resource_form.curriculum }}
				</div>

           	    <div class="formLineElement">
					<span style="color:#ad1d28">
						{{ submit_resource_form.grade.errors }}
					</span>
					<label for="id_grade"><b>Grade</b></label>
					{{ submit_resource_form.grade }}
				</div>
 
				<div class="formLineElement">
					<span style="color:#ad1d28">
						{{ submit_resource_form.subject.errors }}
					</span>
					<label for="id_subject"><b>Subject</b></label>
					{{ submit_resource_form.subject }}
				</div>
                    
				<div class="formLineElement">
					<span style="color:#ad1d28">
						{{ submit_resource_form.chapter.errors }}
					</span>
					<label for="id_chapter"><b>Chapter</b></label>
					{{ submit_resource_form.chapter }}
				</div>
					
				<div class="formLineElement">
					<span style="color:#ad1d28">
						{{ submit_resource_form.resourceType.errors }}
					</span>
					<label for="id_resourceType">
						<b>Resource Type</b>
						<img src="/media/images/tooltipHelp.jpg" style="float:right" id="resTypeHelp" data-toggle="tooltip" title="Projects are collections of structured activities. Activities are isolated learning things."/>
					</label>
					{{ submit_resource_form.resourceType }}
				</div>
                    
				<div class="formLineElement">
					<span style="color:#ad1d28">
						{{ submit_resource_form.title.errors }}
					</span>
					<label for="id_title"><b>Resource Title</b></label>
					{{ submit_resource_form.title }}
				</div>
			</div>

			<div style="display:table; margin:0 auto;width:100%;">
				<div style="display:table; margin:0 auto;width:100%">
					<div class="formLineElement" style="width:100%">
						<span style="color:#ad1d28">
							{{ submit_resource_form.goals.errors }}
						</span>
						<label for="id_goals"><b>Resource Goals</b></label>
						{{ submit_resource_form.goals }}
					</div>
				</div>
				
				<div style="display:table; margin:0 auto;width:100%;">
					<div class="formLineElement" style="width:100%">
						<span style="color:#ad1d28">
							{{ submit_resource_form.materials.errors }}
						</span>
						<label for="id_title"><b>Materials Required</b></label>
						{{ submit_resource_form.materials }}
					</div>
				</div>
				
				<div class="formLineElement" style="width:100%">
					<span style="color:#ad1d28">
						{{ submit_resource_form.lesson.errors }}
					</span>
					<label for="id_title"><b>Resource Details</b></label>
					{{ submit_resource_form.lesson }}
				</div>
			</div>
                
			<div id="attach" style="float:left;width:40%;padding:20px 0px">
				<div class="formLineElement">
					{{ submit_resource.form.attachment.errors }}
					<label for="id_attachment"><b>Attachment</b></label>
					<div id="uploadBox">
						{{ submit_resource_form.attachment }}
					</div>
					<a style="cursor:pointer;" onClick="addUpload();">Add another file</a>
				</div>
			</div>
			<div style="float:right;width:55%;padding:40px 5% 40px 0px;">
				<div style="float:right">
					<button type="submit" class="btn" name="save" style="margin-right:5px;" id="id_save">Save</button>
					<button type="submit" class="btn btn-danger" name="submit" id="id_submit">Submit</button>
				</div>
			</div>
				
		</form>
	{% endif %}
        
	</div> 
        
    <div class="span4" style="background-color: #f5f5f5;padding:20px;padding-top:10px;">
		<br><h4>Help Build Educator Lab!</h4><br>
		<p>It's teachers such as yourselves who are responsible for growing and supporting this site, and we appreciate every contribution you make.</p>
		<p>Contributing to The Educator Lab is easy:</p>
		<ol><br>
			<li>Complete the form on the left, filling in as many details as possible.</li><br>
			<li>Our experienced content editors will check your submission and make minor edits, if necessary, before publishing.</li><br>
			<li>You will receive an email when your resource is published.</li>
		</ol>	
		<br>
		
		<div style="font-size:small;">Please Note: We will try our best to publish your resource, but we cannot guarantee that it will appear on our site.</div>
		<p style="padding-bottom: 20px"></p>
	</div>

</div></div>        
{% endblock content %}
        
