{% extends 'base.html' %}

<head>

{% comment %}
{{ suggest_form.media }}
{% endcomment %}

{% block script %}
<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
{% endblock script %}

</head>

{% block content %}
<div class="formContent">
	<div style="padding-bottom:10px;">
	<div>
		<p style="font-size:16px"><h4>How can we serve you better?</h4></p> 
		We at Educator Lab are always trying to provide a better experience for our users. As educators who are committed to finding and building resources for the classroom, your feedback is very valuable to us. Please feel free to send us comments, suggestions for improvements, or any enquiries you might have through this contact form. 
<br>
<br>
<p>Alternatively, if you would like to contribute a resource that can be used by other teachers and students, please do so at the <a href="{{site.url}}/submit_resource">Submit page.</a> </p>
	</div>

<ul class="nav nav-list">
	<li class="divider"></li>	
</ul>

{% if "Thanks" in message %}
<span class="label label-success">{{message}}</span>
{% else %}
<span class="label label-error">{{message}}</span>
{% endif %}

{% if suggest_form %}
<form method="POST" action ="." enctype="multipart/form-data" style="padding-left:15px;padding-top:10px;">
{% csrf_token %}  

{{ suggest_form.non_field_errors }}
<div style="display:table; margin:0 auto;">
<div class="formLineElement">
	<span style="color:#ad1d28"> 
		{{ suggest_form.name.errors }}
	</span>
	<label for="id_name">Your Name <span style="color:rgb(162, 168, 175)">(optional)</span></label>
	{{ suggest_form.name }}
</div>

<div class="formLineElement">
	<span style="color:#ad1d28">
		{{ suggest_form.email.errors }}
	</span>
	<label for="id_email">Your Email <span style="color:rgb(162, 168, 175)">(optional)</span></label>
	{{ suggest_form.email }}
</div>
</div>

<div style="display:table; margin:0 auto;"> 
<div class="formLineElement">
	<span style="color:#ad1d28"> 
		{{ suggest_form.suggestion.errors }}
	</span>
	<label for="id_suggestion">Suggestion</label>
	{{ suggest_form.suggestion }}
</div>
</div>


<div style="display:table; margin:0 auto; width:100%; position:relative;">
<div class="formLineElement" style="position:absolute;top:10px;right:330px;">
	<button type="submit" class="btn btn-danger" name="submit"> Submit </button>
</div>
</div>
<br><br><br><br>
</form>
</div>
{% endif %}
{% endblock content %}
