
@import url('//fonts.googleapis.com/css?family=Lobster|Cabin:400,700');
/*@import url('//fonts.googleapis.com/css?family=Cabin|Lobster+Two'); */
html{
	height:100%;
}

body{
	height:100%;
}

hr {
	display: block; 
	height: 1px;
    border: 0; 
	border-top: 1px solid #ccc;
    margin: 1em 0; 
	padding: 0;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    min-width:1260px;
	height: 100%;
}

i , em{
	color: #ad1d28;

}

.mainList{
	padding:0px 40px 0px 40px;
	width:740px;
}

.mainListHead{
	font-size:large;
	padding:20px 0px 5px 0px;
	color:#ad1d28;
}

.mainLink{
	cursor: pointer;
	color: #242a32;
	font-size: large;
	text-decoration: none;
}

.mainLink:hover{
	color:#ad1d28;
	text-decoration: none;
}

.resourceLink{
	padding:20px 25px 20px 25px;
	color: #242a32;
	position:relative;
}

.resourceLink:hover{
	background-color: #eceff1;
}

.resourceTitle{
	width:500px;
	float:left;
}

.rating{
	padding:0px 15px 0px 15px;
	position:absolute;
	top:12px;
	left:860px;
}

.voteNum{
	position:absolute;
	left:114px;
	top:8px;
}

.resourceContent{
	padding: 20px 50px 40px 50px;
	width: 700px;
	float:left;
	position:relative;
}

.authorDet{
	width:inherit;
	margin: 15px 0px 15px 0px;
	padding:10px;
	background-color: #d6dbe1;
}

.commentsEmpty{
	margin-left: 10px;
	padding-top: 15px;
}

.sideBox{
	float:right;
	width: 320px;
	padding: 30px;
	padding-top: 15px;
	padding-bottom:15px;
	margin: 20px 40px 10px 40px;
	background-color: #eceff1;
}

.logoText{
	font-family: 'Lobster', cursive;
	font-size: 90px;
	padding:30px;
	padding-top:200px;
}

.selections{
	padding:40px;
}

.faded{
	color: #B0B0B0;
}

.dropText{
	cursor: pointer;
	text-align: left;
	padding:5px 15px 5px 15px;
}

.dropText:hover{
	background-color: #eceff1;/*#eeeeee;*/
}

/*************User Box **************/

.userPop{
  position: absolute;
  top: 59px;
  right: 30px;
  z-index: 1010;
  display: none;
  padding: 20px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}


.userPop .arrow,
.userPop .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.userPop .arrow {
  border-width: 11px;
  top: -11px;
  right: 10px;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.userPop .arrow:after {
  border-width: 10px;
  content: "";
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

/*************Search Box **************/

.searchPop{
  position: absolute;
  top: 59px;
  left: 160px;
  z-index: 1010;
  display: none;
  padding: 20px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}


.searchPop .arrow,
.searchPop .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.searchPop .arrow {
  border-width: 11px;
  top: -11px;
  left: 20px;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.searchPop .arrow:after {
  border-width: 10px;
  content: "";
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

.attachment{
	float:left;
	padding: 10px 7px 15px 15px;
	text-align:center;
	width: 130px;
}

.attText{
	font-size:12px;
}

.attImage{
	max-height: 40px;
}

.attImageTall{
	max-height: 60px;
}

/****************** Footer CSS ********************/

.footbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 0px;
  overflow: visible;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}

.footbar-inner {
  height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #45515f;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.footbar-inner:before,
.footbar-inner:after {
  display: table;
  line-height: 0;
  content: "";
}

.footbar-inner:after {
  clear: both;
}

.footbar .foot {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  height:inherit;
}

.footbar .foot > li {
  float: left;
  height:inherit;
  list-style-type: none;
}

.footbar .foot > li > a {
  float: left;
  padding:11px 15px 11px 15px;
  color: #ffffff;
  text-decoration: none;
}


.footbar .foot > li > a:focus,
.footbar .foot > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #7b8b9f;
}




.formContent{
	/* background-color: #eceff1; */
	padding: 25px 20px 20px 10px;
	margin:20px 10px 20px 40px;
	width: 740px;
	float:left;
	position:relative;
}


.formLineElement {
        float: left;
        padding: 10px;
}

.submit {
	/* background-color: #81161e; */
	background-color: #c3212d;
}
	

