<!DOCTYPE html>
<html>
<head>
<!-- <meta HTTP-EQUIV="REFRESH" content="0; url = http://educatorlab.com/"> -->

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" media="screen">
<link rel="stylesheet" type="text/css" href="/static/css/temp.css" media="screen">

<link rel="icon" href="/media/images/Favicon.ico" type="image/ico" sizes="16x16">
<title>Password Reset Complete</title>

<script type="text/JavaScript">

	window.onload = setTimeout("location.href = 'http://{{site}}';",2500);

</script>

</head>
<body><div id="wrapper">

	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/">Educator Lab</a>
		</div>
	</div>
	
	<div class="text-center" style="padding-top:200px;font-size:20px;">Your password has been set. Redirecting you to the home page .....</div>
	<!-- <p><a href="{{ login_url }}">Log in</a></p> -->

	<div class="footbar">
		<div class="footbar-inner"></div>
	</div>

</div></body>


</html>