<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" media="screen">
</head>

<body>
<!-- <p style="padding: 10px 20px 0px 20px;">Please specify your email address to receive instructions for resetting it.</p> -->

<form action="" method="post" class="form-horizontal" style="padding-top:30px;">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
	{{ form.email.errors }}
    <div class="control-group">
		<label class="control-label" for="id_email">E-mail address</label>
		<div class="controls">
			{{ form.email }}
		</div>
		<input type="submit" class="btn btn-danger" value="Reset" style="position:absolute;right:20px;bottom:20px;"/>
	</div>
	
	<!-- <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p> -->
</form>
</body>
</html>