{% extends 'base.html' %}

{% block script %}
	<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript">
	$( document ).ready(function() {
		tinyMCE.init({
			mode: "textareas",
			theme: "simple"
		});
	});
	</script>
	<script type="text/javascript">
		function addUpload(){
			$('#uploadBox').append('<input type="file" name="attachment" />');
		}
		
		function removeAtt(idNum,fid){
			var r=confirm("Confirm remove file?");
			if(r == true){
				Dajaxice.mainlab.removeAtt(Dajax.process,{'type':'a', 'rid':'{{activity.id}}', 'fid':fid});
				$('#attachment' + idNum).hide();
			}
		}
	</script>
{% endblock script %}

{% block content %}
	<ul class="breadcrumb">
		<li><a href="{{site_url}}manager/">Content Manager</a> <span class="divider">/</span></li>
		<li class="active">{{activity.title}}</li>
	</ul>

	<form method="post" action="/saveActivity/" enctype="multipart/form-data">{% csrf_token %}
	<div class="resourceContent">
		<h4>{{activity.title|safe}}</h4>
		
			<input type="hidden" name="id" value="{{activity.id}}">
		
			<h5>Goals:</h5>		
			<textarea name="goals" style="width:100%">{{activity.goals}}</textarea><br>
		
			<h5>Materials Required:</h5>
			<textarea name="materials" style="width:100%">{{activity.materials}} </textarea><br>
		
			<h5>Lesson:</h5>
			<textarea name="lesson" style="width:100%">{{activity.lesson}} </textarea><br><br>
			
			<div class="text-right">
				{% if activity.publish == False %}
				<input type="submit" class="btn btn-danger" style="margin-right:10px;" name="publish" value="Publish" />
				{% else %}
				<input type="submit" class="btn btn-danger" style="margin-right:10px;" name="unpublish" value="Unpublish" />
				{% endif %}
				<input type="submit" class="btn" name="save" value="Save" />
			</div>
	
	<br><br><br></div>

	<div class="sideBox">
		<b>Contributed by:</b> {{activity.author.name}}<br>
		<b>Time submitted:</b> {{activity.timeCreated}}<br>
		<b>Last modified by:</b> {{activity.userModified}}<br>
		<b>Time modified:</b> {{activity.timeModified}}<br><br>
		
		<b>Curriculum:</b> {{curricula}}<br>
		<b>Grade:</b> {{grades}}<br>
		<b>Subject:</b> {{subjects}}<br>
		<b>Chapter:</b> {{chapters}}
	</div>
	
	{% if files %}
	<div class="sideBox">
		<h5>Student Handouts</h5>
		{% for f in files %}
			<div class="attachment" id="attachment{{forloop.counter}}" style="position:relative;">
				<a target='_blank' href='{{f.doc.url}}'>
					<img class='attImageTall' src='/media/images/handout.png'>
					<div class='attText'>{{f.title}}</div>
				</a>	
				<button type="button" class="close" onClick="removeAtt({{forloop.counter}},{{f.id}});" style="position:absolute;top:0px;right:20px;">×</button>
			</div>
		{% endfor %}
	</div>
	{% endif %}
	
	<div class="sideBox">
		<h5>Upload Files</h5>
		<div id="uploadBox">
			<input type="file" name="attachment" />
		</div>
		<a style="cursor:pointer;" onClick="addUpload();">Add another file</a>
	</div>
	
	</form>
	
	<form method="post" action="/deleteActivity/" style="position:absolute;top:730px;left:50px;">{% csrf_token %}
		<input type="hidden" name="id" value="{{activity.id}}">
		<input type="submit" class="btn" name="delete" value="Reject" onClick="return confirm('Confirm delete?');"/>
	</form>
{% endblock content %}
