{% extends 'base.html' %}


{% block content %}


<div class="resourceContent">

<div style="padding-top: 15px; padding-bottom: 15px;">
	Use this form to submit ideas for a new resource. Try to be as detailed as possible, but if not, give us an outline of what you want to accomplish with this resource. Our content and style editors can format and expand on the idea.
	Please note: we cannot guarantee that your resource will be included in this site.
</div>
<form action="/thanks/" method="post">
{% csrf_token %} 
  <fieldset>
    <div style="float:left">
    	<label>Curriculum</label>
    	<input type="text" name="curriculum"  placeholder="e.g. CBSE…">
    	<label>Grade</label>
    	<select name="grade">
	<option selected="selected">None</option>
	<option>1</option>	
	<option>2</option>
	<option>3</option>
	<option>4</option>
	<option>5</option>
	<option>6</option>
	<option>7</option>
	<option>8</option>
	<option>9</option>
	<option>10</option>
	<option>11</option>
	<option>12</option>
    	</select>
    	<label>Subject</label>
    	<input type="text" name="subject" placeholder="e.g. Maths">
    	<label>Chapter</label>
    	<input type="text" name="chapter" placeholder="e.g. Algebra">
    </div>
    
    <div style="float:right">
    	<label>Learning Goals</label>
 	<textarea rows="4" cols="100" name="goals">What you want the students to learn from this activty or project</textarea>
    
    	<label>Resource</label>
    	<textarea rows="4" cols="100" name="resource">The resource you want to submit</textarea>
    	
	<label>Attachments</label>
    	<input type="file" name="file1">
 	
    	<button type="submit" class="btn">Submit</button>
    </div>
  </fieldset>
</form>
<br>
<br>
<br>		
</div>
{% endblock content %}

