{% extends 'base.html' %}

{% block title %}
{% if titleTag != "" %}
	<title>{{titleTag}}</title>
{% else %}
	<title> {{curriculum}} Resources | Educator Lab </title>
{% endif %}
{% endblock title %}


{% block content %}

<!-- <div id="breadCrumbs">
	<span class="crumbCurrent">{{curriculum}}</span>
</div> -->

<ul class="breadcrumb">
  <li class="active">{{curriculum}}</li>
</ul>


<div class="mainList">
<div class="mainListHead">Select Grade in {{curriculum}}</div>
<hr>
<div style="padding:0px 50px;"><table class="table">
{% for g in grades %}
	<tr>
		<td style="border:none;"><a href="{{site_url}}grade/i={{g.id}}/" class="mainLink"> Grade {{g.title}} </a></td>
	</tr>
{% endfor %}
</table></div>

<!-- <div class="text-center"><div id="mainList">
<div style="color:#ad1d28;font-size:large">Select Grade</div><br>
{% for g in grades %}
	<a href="{{site_url}}grade/i={{g.id}}/" class="mainLink"> Grade {{g.title}} </a> <br><br>
{% endfor %}
</div></div> -->

{% endblock content %}
