{% extends 'base.html' %}

{% block content %}

<h3 style="padding-top:20px;padding-left:100px;">Content Manager</h3>

<div class="accordion" id="accordion2" style="padding-left:100px;padding-right:100px;padding-top:10px;">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Pending Activities
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse" style="line-height:0px;">
      <div class="accordion-inner">
        {% for a in pendingActivities %}
			<a href="{{site_url}}activityEdit/i={{a.id}}/"><div class="resourceLink" style="position:relative;">
				<span style="padding-right:60px;">{{a.title|truncatewords:6}}</span>
				<span style="position:absolute;top:22px;left:450px;">{{a.curricula}},  {{a.grades}},  {{a.subjects}}</span>
				<span style="float:right;">{{a.author}},    {{a.timeCreated}}</span>
			</div></a> <br>
		{% endfor %}
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Pending Projects
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse" style="line-height:0px;">
      <div class="accordion-inner">
        {% for p in pendingProjects %}
			<a href="{{site_url}}projectEdit/i={{p.id}}/"><div class="resourceLink" style="position:relative;">
				<span style="padding-right:60px;">{{p.title|truncatewords:6}}</span>
				<span style="position:absolute;top:22px;left:450px;">{{p.curricula}},  {{p.grades}},  {{p.subjects}}</span>
				<span style="float:right;">{{p.author}},    {{p.timeCreated}}</span>
			</div></a> <br>		
		{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
