<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" media="screen">
<link rel="stylesheet" type="text/css" href="/static/css/temp.css" media="screen">

<link rel="icon" href="/media/images/Favicon.ico" type="image/ico" sizes="16x16">
<title>Setting New password</title>

</head>
<body><div id="wrapper">

	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/">Educator Lab</a>
		</div>
	</div>
	
	{% if validlink %}
	<div style="padding-top:160px;padding-left:400px;">
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form action="" method="post" class="form-horizontal" style="padding-top:20px;">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
			
			<div class="control-group">
				<label class="control-label" for="id_new_password1">New password:</label>
				<div class="controls">
					{{ form.new_password1 }}
					<div style="color:#ad1d28;">{{ form.new_password1.errors|striptags}}</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="id_new_password2">Confirm password:</label>
				<div class="controls">
					{{ form.new_password2 }}
					<div style="color:#ad1d28;">{{ form.new_password2.errors|striptags}}</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn btn-danger" value="Change my password" />
				</div>
			</div>
        </form>
	</div>
    {% else %}
		<div class="text-center" style="padding-top:120px;">
			<h3>Password reset unsuccessful</h3>
			<p>The password reset link was invalid, possibly because it has already been used. <br>
			Please request a new password reset.</p>
			
			<a href="http://{{site}}"> Go to home page </a>
		</div>
    {% endif %}


	<div class="footbar">
		<div class="footbar-inner"></div>
	</div>

</div></body>


</html>
